ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .log-out{
    float: right; 
    padding-right: 0.3in; 
    width: 0.3in;
    height: 0.3in;
  }

  .info{
    margin-left: 0.1in;
  }
  
  html,body,ion-app,ion-content,ion-page{
    background-color: transparent !important;
  }

  .avatar {
    display: flex;
    padding-top: 0.3in;
    padding-bottom: 0.2in;
    justify-content: center;
    padding-right: 0.5in;
    img {
        width: 40%;
        height: 40%;
    }
}
.avatar2 {
  display: flex;
  padding-top: 0.3in;
  padding-bottom: 0.2in;
  justify-content: center;
  img {
      width: 40%;
      height: 40%;
  }
}
ion-toolbar {
  --background: transparent;
  background-image: linear-gradient(90deg, rgba(48, 118, 232, 1) 0%,rgba(110, 55, 211, 1) 100%);
  }

  .iteminput{
    border-radius: 30px;
    border: 1px solid #000000;
    --background: #ffffff;
    color: #000000;
}

.boton{
  background-color:#5b5b5f;
  --background: transparent;
  border-radius: 30px;
  display: flex;
}

ion-item{
    margin: 22px;
}

.edit{
  padding-left: 70%;
  --background: transparent;
  color: #000000;
}

