<ion-header [translucent]="true">
  <ion-toolbar>
    
      <div class="avatar">
        <img src="../../assets/images/LOGO.png" alt="">
      </div>
    
  </ion-toolbar>
</ion-header>


<ion-content>
  

    <ion-card>
      <ion-card-content>
        En las políticas de privacidad de TuristView, se explica cómo administramos sus datos personales y cómo protegemos su privacidad cuando usa TuristView.
        Es posible que TuristView deba compartir su información personal (como su nombre y dirección de correo electrónico) con los Proveedores a fin de ofrecerle Contenido o procesar sus transacciones. Los Proveedores aceptan usar esta información según sus políticas de privacidad.
      </ion-card-content>
    </ion-card>
 
  <ion-checkbox id="acepto"></ion-checkbox>
  <ion-label>&nbsp;Acepto términos y condiciones</ion-label>
  <section>
    <ion-button class="boton" shape="round" (click)="aceptar()">Aceptar</ion-button>
  </section>
  
 
</ion-content>


