/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.custom-ion-content{
    --background:transparent;
}

.alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
    padding-top: 40px;
    padding-bottom: 40px;
}

.alert-button-group.sc-ion-alert-md {
justify-content: center;
padding-bottom: 40px;
}
.alert-button.sc-ion-alert-md {
border-radius: 20px;
padding-left: 50px;
padding-right: 50px;
background: linear-gradient(90deg, rgba(48, 118, 232, 1),rgba(110, 55, 211, 1));
color: white;
}
.alert-message.sc-ion-alert-md, .alert-input-group.sc-ion-alert-md {
color: #717982;
text-align: center;
}

.alert-wrapper.sc-ion-alert-md {
border-radius: 10px;
}