{% extends 'productos/index.html' %}
{% load static %}
{% block main%}
<div class="container-fluid">
    <h1 class="mt-4">Tabla Usuario</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/index">Opcion</a></li>
        <li class="breadcrumb-item active">Eliminar Usuario</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Tabla Usuario
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for o in listaCategoriaNoticia %} -->
                        <tr >
                             <!-- <td >{{o.categoria}}</td>
                             <td>{{o.id_tiponot}}</td> -->
                             <td>
                                 <form  name="myform">
                                     <input type="button" class="btn-table" class="btn" >
                                </form>
                            </td>
                        </tr>
                    <!-- {% endfor %} -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
