{% extends 'productos/index.html' %}
{% load static %}
{% block main%}
<div class="container-fluid">
    <h1 class="mt-4">Tabla Telefono</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/index">Opcion</a></li>
        <li class="breadcrumb-item active">Eliminar Telefono</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Tabla Telefono
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>id_telefono</th>
                            <th>id_local</th>
                            <th>telefono</th>
                            <th>Opciones</th>     
                        </tr>
                    </thead>
                    <tbody>
                        {%if telefonos %}
                        {% for o in telefonos %}
                        <tr >
                            <td >{{o.id_telefono}}</td>
                            <td>{{o.id_local}}</td>
                            <td>{{o.telefono}}</td>
                            <td>
                                <form  name="myform{{o.id_telefono}}" action="{% url 'telefonoDelete' o.id_telefono %}">
                                    <input type="button" class="btn-table" id="{{id_telefono}}" class="btn" onclick="confirmationMessage('{{o.id_categoria}}')" value="Eliminar" >
                               </form>
                            </td>
                        </tr>
                        {% endfor %} 
                        {% else %}
                        <h2>No se presentan registros de Telefonos </h2>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}